.main {
    max-width: 90%;
    margin: auto;
    margin-top: 3em;
}

.close.icon{
  cursor: pointer;
}

.chart-container{
  display: inline-block;
  width: 100%;
  height: 250px;
}

.node-input{
  margin-bottom: 1em;
}

.buttons-container{
  min-height: 1em;
}

.buttons-container .button{
  float: right;
}

.download.icon{
  cursor: pointer;
}

.download.icon:hover + .chart-container{
  background: rgba(0,0,0,0.03);
}

.main-comparative .download.icon{
  position: absolute;
}

.app-metrics .download.icon{
  position: absolute;
}

.download.icon:hover{
  color: black;
}
